
@{
    ViewBag.Title = "Pratos";
    ViewBag.pTitle = "Pratos";
    ViewBag.pageTitle = "Cardápio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <!-- ION Slider -->
    <link href="~/assets/libs/ion-rangeslider/css/ion.rangeSlider.min.css" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Dias da semana</h4>

                <div>
                    
                    <ul class="list-unstyled product-list">
                        <li><a href="javascript: void(0);"><i class="mdi mdi-chevron-right me-1"></i> Segunda</a></li>
                        <li><a href="javascript: void(0);"><i class="mdi mdi-chevron-right me-1"></i> Terça</a></li>
                        <li><a href="javascript: void(0);"><i class="mdi mdi-chevron-right me-1"></i> Quarta</a></li>
                        <li><a href="javascript: void(0);"><i class="mdi mdi-chevron-right me-1"></i> Quinta</a></li>
                        <li><a href="javascript: void(0);"><i class="mdi mdi-chevron-right me-1"></i> Sexta</a></li>
                        <li><a href="javascript: void(0);"><i class="mdi mdi-chevron-right me-1"></i> Sábado</a></li>
                        <li><a href="javascript: void(0);"><i class="mdi mdi-chevron-right me-1"></i> Bebidas</a></li>
                    </ul>
                </div>
            
            </div>
        </div>

    </div>
    <div class="col-lg-9">

        <div class="row mb-3">
            <div class="col-xl-4 col-sm-6">
                <div class="mt-2">
                    <h5>Quinta-Feira</h5>
                </div>
            </div>
          
        </div>
        <div class="row">
            <div class="col-xl-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="product-img position-relative">
                            <div class="avatar-sm product-ribbon">
                               
                            </div>
                            <img src="~/assets/images/product/parmegiana.jpg" alt="" class="img-fluid mx-auto d-block">
                        </div>
                        <div class="mt-4 text-center">
                            <h5 class="mb-3 text-truncate"><a href="javascript: void(0);" class="text-dark">Parmegiana Carne/Frango </a></h5>

                            <p class="text-muted">
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                            </p>
                            <h5 class="my-0"><span class="text-muted me-2"><del>R$20,00</del></span> <b>R$18,00</b></h5>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="product-img position-relative">
                            <img src="~/assets/images/product/frango.jpg" alt="" class="img-fluid mx-auto d-block">
                        </div>
                        <div class="mt-4 text-center">
                            <h5 class="mb-3 text-truncate"><a href="javascript: void(0);" class="text-dark">Frango Empanado</a></h5>

                            <p class="text-muted">
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star"></i>
                            </p>
                            <h5 class="my-0"><span class="text-muted me-2"><del>R$18,00</del></span> <b>R$16,00</b></h5>

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- end row -->

      
    </div>
</div>
<!-- end row -->
<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>


<!-- Ion Range Slider-->
<script src="~/assets/libs/ion-rangeslider/js/ion.rangeSlider.min.js"></script>

<!-- init js -->
<script src="~/assets/js/pages/product-filter-range.init.js"></script>

<!-- App js -->
<script src="~/assets/js/app.js"></script>


